* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fl {
    float: left;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}


header{
    width: 1200px;
    background-color: #E579E6;
    padding: 50px;
    margin: 20px;
}



.container {
    width: 1200px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 15px;
}

.yelbox{
    width: 1200px;
    height: 600px;
    background-color: #E1D67A;
    padding: 50px;
    margin: 20px;
}

main{
    width: 1200px;
    background-color: rgb(7, 93, 190);
    padding: 30px 0;
    margin: 20px;
}

.col-top{
    width: 100%;
    padding-bottom: 20px;
}

.col-left{
    width: 20%;
}

.col-center{
    width: 60%;
    padding: 0 20px;
}

.col-right{
    width: 20%;
}

.col-content {
    height: 500px;
    background: #abcce4
}

footer{
    width: 1200px;
    background-color: purple;
    height: 50px;
    margin: 20px;
}