* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 1200px;
    background-color: #E579E6;
    padding: 50px;
    margin: 20px;
}

.pagina {
    width: 1200px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 15px;
}

.yelbox{
    width: 1200px;
    height: 600px;
    background-color: #E1D67A;
    padding: 50px;
    margin: 20px;
}

.container{
    width: 1200px;
    height: 700px;
    background-color: rgb(7, 93, 190);
    padding: 50px;
    margin: 20px;
}

.blubox{
    width: 1200px;
    background-color: #E579E6;
    padding-left: 50px;
    float: left;
}

footer{
    width: 1200px;
    background-color: purple;
    height: 50px;
    margin: 20px;
}